# pinecone 
pinecone
#openai
openai
#python-dotenv
python-dotenv
#PyPDF2
PyPDF2
# tiktoken
tiktoken>=0.7.0
tiktoken

#langchain
langchain
langchain-openai
langchain-pinecone
langchain-core
langchain-text-splitters
langchain-prompts
langchain-chains
langchain-retrievers
langchain-document-loaders
langchain-document-transformers
langchain-document-transformers
#fastapi
fastapi>=0.115.0
uvicorn[standard]>=0.32.0
#pydantic
pydantic
#uvicorn
